aiofiles==0.8.0 ; python_version >= "3.7" and python_version < "4.0"
any-api==0.1.0.2 ; python_version >= "3.7" and python_version < "4.0"
async-timeout==4.0.2 ; python_version >= "3.7" and python_version <= "3.11.2"
atomicwrites==1.4.1 ; python_version >= "3.7" and python_version < "4.0" and sys_platform == "win32"
attrs==22.2.0 ; python_version >= "3.7" and python_version < "4.0"
certifi==2022.12.7 ; python_version >= "3.7" and python_version < "4.0"
chardet==4.0.0 ; python_version >= "3.7" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.7" and python_version < "4.0" and sys_platform == "win32"
coverage==5.5 ; python_version >= "3.7" and python_version < "4"
gprof2dot==2022.7.29 ; python_version >= "3.7" and python_version < "4.0"
grpcio-tools==1.48.2 ; python_version >= "3.7" and python_version < "4.0"
grpcio==1.53.0 ; python_version >= "3.7" and python_version < "4.0"
idna==2.10 ; python_version >= "3.7" and python_version < "4.0"
importlib-metadata==4.11.4 ; python_version >= "3.7" and python_version < "4.0"
iniconfig==2.0.0 ; python_version >= "3.7" and python_version < "4.0"
lark==1.1.5 ; python_version >= "3.7" and python_version < "4.0"
mypy-protobuf==3.2.0 ; python_version >= "3.7" and python_version < "4.0"
packaging==23.0 ; python_version >= "3.7" and python_version < "4.0"
pluggy==1.0.0 ; python_version >= "3.7" and python_version < "4.0"
protobuf-to-pydantic @ git+https://github.com/so1n/protobuf_to_pydantic.git@master ; python_version >= "3.7" and python_version < "4.0"
protobuf==3.20.1 ; python_version >= "3.7" and python_version < "4.0"
py-cpuinfo==9.0.0 ; python_version >= "3.7" and python_version < "4.0"
py==1.11.0 ; python_version >= "3.7" and python_version < "4.0"
pydantic==1.10.7 ; python_version >= "3.7" and python_version < "4.0"
pytest-asyncio==0.14.0 ; python_version >= "3.7" and python_version < "4.0"
pytest-benchmark==4.0.0 ; python_version >= "3.7" and python_version < "4.0"
pytest-mock==3.5.1 ; python_version >= "3.7" and python_version < "4.0"
pytest-profiling==1.7.0 ; python_version >= "3.7" and python_version < "4.0"
pytest==6.2.5 ; python_version >= "3.7" and python_version < "4.0"
python-multipart==0.0.5 ; python_version >= "3.7" and python_version < "4.0"
pyyaml==6.0 ; python_version >= "3.7" and python_version < "4.0"
redis==4.5.4 ; python_version >= "3.7" and python_version < "4.0"
requests==2.25.1 ; python_version >= "3.7" and python_version < "4.0"
setuptools==67.6.1 ; python_version >= "3.7" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.7" and python_version < "4.0"
toml==0.10.2 ; python_version >= "3.7" and python_version < "4.0"
types-protobuf==4.22.0.0 ; python_version >= "3.7" and python_version < "4.0"
typing-extensions==4.5.0 ; python_version >= "3.7" and python_version < "4.0"
urllib3==1.26.15 ; python_version >= "3.7" and python_version < "4.0"
zipp==3.15.0 ; python_version >= "3.7" and python_version < "4.0"
