any-api==0.1.0.2 ; python_version >= "3.7" and python_version < "4.0"
grpcio-tools==1.40.0 ; python_version >= "3.7" and python_version < "4.0"
grpcio==1.51.3 ; python_version >= "3.7" and python_version < "4.0"
protobuf-to-pydantic @ git+https://github.com/so1n/protobuf_to_pydantic.git@master ; python_version >= "3.7" and python_version < "4.0"
protobuf==3.20.1 ; python_version >= "3.7" and python_version < "4.0"
pydantic==1.10.7 ; python_version >= "3.7" and python_version < "4.0"
setuptools==67.6.0 ; python_version >= "3.7" and python_version < "4.0"
typing-extensions==4.5.0 ; python_version >= "3.7" and python_version < "4.0"
