grpcio==1.48.1; python_version >= "3.6"
pydantic==1.9.2; python_full_version >= "3.6.1"
six==1.16.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6"
typing-extensions==4.2.0; python_version >= "3.7"
