any-api==0.1.0.2 ; python_version >= "3.7" and python_version < "4.0"
pydantic==1.10.5 ; python_version >= "3.7" and python_version < "4.0"
typing-extensions==4.5.0 ; python_version >= "3.7" and python_version < "4.0"
