annotated-types==0.7.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
any-api==0.1.0.10 ; python_full_version >= "3.8.1" and python_version < "4.0"
async-timeout==4.0.3 ; python_full_version >= "3.8.1" and python_full_version <= "3.11.2"
pydantic-core==2.18.4 ; python_full_version >= "3.8.1" and python_version < "4.0"
pydantic==2.7.4 ; python_full_version >= "3.8.1" and python_version < "4.0"
redis==4.6.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
typing-extensions==4.12.2 ; python_full_version >= "3.8.1" and python_version < "4.0"
