appdirs==1.4.4 ; python_version >= "3.7" and python_version < "4.0"
autoflake==1.4 ; python_version >= "3.7" and python_version < "4.0"
black==20.8b1 ; python_version >= "3.7" and python_version < "4.0"
click==7.1.2 ; python_version >= "3.7" and python_version < "4.0"
isort==5.6.4 ; python_version >= "3.7" and python_version < "4.0"
mypy-extensions==1.0.0 ; python_version >= "3.7" and python_version < "4.0"
pathspec==0.11.2 ; python_version >= "3.7" and python_version < "4.0"
pyflakes==3.0.1 ; python_version >= "3.7" and python_version < "4.0"
regex==2023.10.3 ; python_version >= "3.7" and python_version < "4.0"
toml==0.10.2 ; python_version >= "3.7" and python_version < "4.0"
typed-ast==1.5.5 ; python_version >= "3.7" and python_version < "4.0"
typing-extensions==4.7.1 ; python_version >= "3.7" and python_version < "4.0"
